#root {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
}

.logo {
  height: 5em;
  padding: 0.1rem 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.text-iron {
  color: #0a035a;
}
.destinationImage {
  width: 280px;
  margin: 15px;
  height: 200px;
}
.destination {
  display: flex;
  border: 2px solid black;
  margin: 15px auto;
  width: 590px;
  align-items: center;
}
.content {
  text-align: left;
  margin: 10px;
  width: 260px;
}
h3 {
  margin-top: 0px;
}

.blueLabel{
width:fit-content;
color: white;
background-color: #366BCA;
font-weight: 600;
padding: 2px 5px;
border: 1px solid #366BCA;
border-radius: 5px;
margin-right: 5px;
}
.greenLabel {
  width:fit-content;
color: black;
background-color: #77BC77;
font-weight: 700;
padding: 2px 5px;
border: 1px solid #77BC77;
border-radius: 5px;
margin-right: 5px;
}
.buttonsDiv {
  display: flex;
  justify-content: space-between;
}
